/* styles.css */
body {
    background-color: rgb(225, 36, 131);
}
.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribute items evenly along the main axis */
}
.image-item {
    flex: 0 0 calc(33.33% - 20px); /* Each item takes up 33.33% of the container width with margin */
    margin: 10px;
    position: relative;
}
img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}
.image-name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
